<!DOCTYPE html>
<html>
<head>
    <title>Sign in</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Latest compiled and minified CSS -->
    
</head>
<body>
    <style>
        body {
            background-color: #005200;
            color:white;
            font-family:Helvetica;
        }

        h2{
            font-size: 16px;

        }

        label {
            display:none;
        }
        .center_div {
            margin: 10% auto;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom:10px;
            width: 80%;
            height: 80%;
            background-color: #088f08;
            border: 2px solid #007400;
        }

        #forgotPassword{
            color: #fff;
        }

        #createAccount{
            color: #fff;
            margin-left: 10px;
        }

        .entry{
            padding-top:10px;
            padding-bottom:10px;
        }

        input {
            display: block;
            margin:5px auto;
            width: 90%;
            height: 40px;
            -moz-border-radius: 0; /* Firefox */
            -webkit-border-radius: 0; /* Safari, Chrome */
            border-radius: 0; /* CSS3 */
            font-size:16px;
            color: #fff;
            background-color:#007400;
            text-align:center;
            border-style:solid;
            border:none;
        }

        ::-webkit-input-placeholder {
           color: rgba(255,255,255,.8);
        }

        :-moz-placeholder { /* Firefox 18- */
           color: rgba(255,255,255,.8);
        }

        ::-moz-placeholder {  /* Firefox 19+ */
          color: rgba(255,255,255,.8); 
        }

        :-ms-input-placeholder {  
           color: rgba(255,255,255,.8); 
        }

        #next {
            display: block;
            border-color: #14b314;
            margin: 10px auto;
            width: 90%;
            height: 50px;
            -moz-border-radius: 0; /* Firefox */
            -webkit-border-radius: 0; /* Safari, Chrome */
            border-radius: 0; /* CSS3 */
            font-size:16px;
            background-color:#fff;
            color:#14b314;
            box-shadow:none;
        }

        .accountButton {
            display: block;
            border: none;
            margin: 10px auto;
            width: 90%;
            height: 50px;
            -moz-border-radius: 0; /* Firefox */
            -webkit-border-radius: 0; /* Safari, Chrome */
            border-radius: 0; /* CSS3 */
            font-size:16px;
            box-shadow:none;
        }

        #GoogleExchange{
            background:#dd4b39;
            color:#fff;
        }

        #FacebookExchange{
            background:#3b5998;
            color: #fff;
        }

        .error{
            color: #910000;
        }
    </style>

    <div class="container center_div">
        <div id="api" data-name="Unified"></div>
    </div>
</body>
</html>